/* =========================================header============================================*/
#menu-switch {
    display: none;
}
/* .header {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
.header-container {
    width: 1200px;
    height: 70px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.navbar {
    width: 800px;
}
.header-logo {
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-logo img {
    width: 50%;
}

.header-cart {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.header-cart img {
    width: 15%;
    cursor: pointer;
}
.menu {
    display: flex;
    align-items: flex-end;
}
.navbar {
    overflow: hidden;
    background-color: #fff;
}
.navbar a {
    float: left;
    color: #3a3a3a;
    text-align: center;
    margin: 0 10px;
    padding: 16px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.d {
    float: left;
    overflow: hidden;
}
.d .d-btn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #3a3a3a;
    margin: 0 10px;
    padding: 14px 16px;
    background: inherit;
    text-transform: uppercase;
    transition: 0.5s ease;

}
.navbar a:hover, .d:hover .d-btn {
    background-color: #101617;
    border-radius: 20px;
    color: #fff;
}
.d-content {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 10;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 1px solid #ccc;
}
.d:hover .d-content {
    display: block;
}
.d-brands {
    width: 100%;
    display: flex;
    margin-top: 20px;
    position: relative;
    
}
.column {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: #fff;
    height: 250px;
}
.column-pic {
    width: 40%;
}
.column a {
    display: block;
    float: none;
    color: #4a4a4a;
    text-align: left;
    font-size: 16px;
}
.column h3 {
    color: #3a3a3a;
    padding: 10px;
}
.column img {
    width: 90%;
}
.column a:hover {
    color: #fff;
    background-color: #373737;
}
.d-brands::after {
    content: '';
    display: table;
    clear: both;
}
@media(max-width: 650px){
    .column {
        width: 100%;
        height: auto;
    }
} */
.header {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
.header-container {
    width: 1200px;
    height: 70px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header-logo {
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-logo img {
    width: 50%;
}

.header-cart {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.header-cart img {
    width: 15%;
    cursor: pointer;
}
.menu-bike {
    position: relative;
}
.menu ul > li > ul li:nth-child(2) > ul:nth-child(1n),.menu ul > li > ul li:nth-child(2) > ul:nth-child(2n) {
    display: none;
    position: absolute;
    left: 0;
    top: 6vh;
}
.menu {
    width: 66.66666%;
}
.menu-container {
    margin: 0 auto;
    background: #e9e9e9;
}
.menu a.logo {
    display: inline-block;
    padding: 1.5em 3em;
    width: 19%;
    
}
.menu img {
    max-width: 100%;
}

.menu-dropdown-icon:before {
    content: "\f489";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}
.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    clear: right;
    display: flex;
    justify-content: flex-start;
}
.menu .show-on-mobile {
    display: block;
  }
.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}
.menu > ul:after {
    clear: both;
}
.menu .clearfix li > a {
    color: #3a3a3a;
}
.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
}
.menu > ul > li a {
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
.menu > ul > li:hover {
    background-color: #101617;
    border-radius: 20px;
}
.menu > ul > li:hover .changeNav {
    color: #fff;
}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li {
    margin: 10px;
    padding-bottom: 0;
    list-style: none;
    width: 30%;
    background: none;
    float: left;
}
.menu > ul > li > ul > li a {
    color: #777;
    padding: 12px 20px;
    width: 80%;
    display: block;
    border-bottom: 1px solid #ccc;
}
.menu > ul > li > ul > li >ul a:hover {
    color: #000;
    background-color: #3a3a3a;
    transition: 1s;
    color: #fff;
    border-radius: 10px;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
    cursor: pointer;
}
.menu > ul > li > ul > li > ul > li a {
    border: 0;    
    font-size: 14px;
}
.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.brandLogo {
    position: relative;
}
.brandLogo img {
    width: 80%;
}
.menu ul > li > ul li:nth-child(3) > ul > li:nth-child(1n),.menu ul > li > ul li:nth-child(3) > ul > li:nth-child(2n),.menu ul > li > ul li:nth-child(3) > ul > li:nth-child(1) {
    display: none;
    position: absolute;
    left: 4%;
    top: 160%;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 959px) {
.menu-container {
    width: 100%;
}
.menu-container .menu{
    display:inline-block;
}
.menu-dropdown-icon:before {
    display: block;
}
.menu > ul > li a {
    padding: 1.5em 10px 20px;
    width: 100%;
    display: block;
}
.menu > ul > li > ul {
    position: relative;    
    padding: 0 10px;
}
.menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
}
.menu > ul > li > ul > li > ul {
    position: relative;
}
.menu > ul > li > ul > li > ul > li {
    float: none;
}

} 
@media screen and (max-width:768px){
    #hamburger-icon {
    width: 50px;
    height: 40px;
    position: relative;
    display: block;
    margin: auto 20px;
}
#hamburger-icon .line {
    display: block;
    background: #3a3a3a;
    width: 50px;
    height: 5px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
    top: 20%;
}
#hamburger-icon .line.line-2 {
    top: 50%;
}
#hamburger-icon .line.line-3 {
    top: 80%;
}
#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
    transform: translateY(0px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
}
#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
    transform: translateY(0px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
}
#hamburger-icon.active .line-1 {
    transform: translateY(10px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
    opacity: 0;
}
#hamburger-icon.active .line-3 {
    transform: translateY(-14px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-14px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-14px) translateX(0) rotate(-45deg);
}
label {
    text-decoration: none;
    color: #000;
    margin: 0.5em 1.5em;
    display: inline-block;
}
label:hover, label:focus {
    color: #3a3a3a;
}
.clearfix {
    padding: 20px;
}
.menu > ul {
    padding: 10px;
}
.clearfix > li {
    padding: 0 20px;
}
.menu > ul > li {
    padding: 0 20px;
}
.clearfix > li > a {
    border-bottom: 2px solid #ccc;
}
.menu > ul > li:hover {
    background-color: transparent;
}
.menu > ul > li:hover .changeNav {
    color: #3a3a3a;
}
.menu > ul > li > ul > li {
    width: 100%;
}
.header {
    border-bottom: 1px solid rgba(190, 170, 170, 0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    margin-bottom: 10px;
}
.menu ul > li > ul li:nth-child(2) > ul:nth-child(1n), .menu ul > li > ul li:nth-child(2) > ul:nth-child(2n) {
    top: 5vh;
}
}
.navbar .underline {
    text-decoration: underline;
}
@media screen and (max-width: 768px){
    .clearfix {
        flex-direction: column;
        opacity: 1;
    }
    .menu > ul > li > ul > li {
        width: 40%;
        float: left;
    }

}
/*=====================================字型===================================*/
@font-face {
    font-family: 'Avant Garde Medium Oblique BT';
    font-style: normal;
    font-weight: normal;
    src: local('Avant Garde Medium Oblique BT'), url('AVGARDMI_2.woff') format('woff');
    }
@import url('http://fonts.cdnfonts.com/css/avantgarde-md-bt');
h1,h2,h3,h4,p,a,li,button,option,select {
    font-family: 'AvantGarde Md BT', sans-serif;
}
a {
    text-decoration: none;
}
.orange {
    color: #F8A151;
}
.slogan-white h1 {
    color: #fff;
}
/*==================================hr設定===========================================================*/
/* .header-hr {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;
    margin-bottom: 10px;
    padding-top: 70px;
} */
.content-hr {
    color: rgba(0, 0, 0, 0.25);
    margin: 10px;
}
/*========================================================h2.h3.h4.p 文字大小設定=====================================*/
h1 {font-size: 48px;color: #3a3a3a;line-height: 42px;letter-spacing: 2px;}
h2 {font-size: 32px;color: #3a3a3a;line-height: 42px;letter-spacing: 1px;}
h3 {font-size: 24px;color: #3a3a3a;line-height: 32px;letter-spacing: 1px;}
h4 {font-size: 18px;color: #3a3a3a;line-height: 32px;letter-spacing: 1px;}
p {font-size: 16px;color: #4a4a4a;line-height: 32px;letter-spacing: 1px;}
a {letter-spacing: 1px;}
/*===================================================button級別================================================= */
.learn-more {
    background-color: transparent;
    border: 3px solid #ABA6A6;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    padding: 14px 28px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    color: #3a3a3a;
    transition: 0.5s ease;
}
.learn-more:hover {
    border: 3px solid #3a3a3a;
}

/*button-read*/
.button-read {
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: #3a3a3a;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button-read span {
    margin: auto;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
    /* text-decoration: underline; */
}

.button-read span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.button-read:hover span {
    padding-left: 25px;
}

.button-read:hover span:after {
    opacity: 1;
    right: -50;
}
/*====explore===*/
.explore {
    background-color: #F8A151;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    padding: 14px 28px;
    margin: 10px 20px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease;
    text-decoration: none;
    border: none;
}
.explore:hover {
    background-color: #F97F0E;
}

/*========add to cart=======*/
.add-cart {
    background-color: #434343;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    padding: 14px 28px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease;
    text-decoration: none;
    border: none;
}
.add-cart:hover {
    background-color: #2D3033;
}

/*=========================================置中設定=========================================================*/
.abc {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/*================================餅乾屑==============================*/
.cookie {
    width: 1200px;
    margin-top: 70px;
    display: inline-block;
    
}
.cookie p {
    font-size: 18px;
    color: #4a4a4a;
    padding: 10px;
    margin: 10px;
}
/*===========================section設定======================*/
section {
    padding: 40px 0;
}
 /*=======================footer===============================*/

.footer {
    width: 100%;
    background-color: #101617;
}
.main-footer {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.footer-logo {
    width: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.footer-logo img {
    width: 60%;
}
.footer-container {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.footer-item {
    width: 185px;
    /* flex-grow: 1; */
    margin: 0 20px;
}
.footer-item h4 {
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    font-size: 18px;
}
.footer-item a {
    text-decoration: none;
}
.footer-item nav {
    display: flex;
    flex-direction: column;
}
.footer-item nav a {
    text-decoration: none;
    color: #ccc;
    line-height: 1.4;
    padding: 5px 0;
    font-size: 16px;
    transition: 0.3s;
}
.footer-item nav a:hover {
    color: #fff;
}
.copyright {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 10px 0;
    border-top: 1px dotted #fff;
    color: #fff;
    font-size: 12px;
}
       

/*=======*/
