/*=========================Header RWD====================*/
@media screen and (max-width:1200px){
    .header-container {
        width: 100%;
        justify-content: space-around;
    }
    .header-logo {
        width: 16.66666%;
    }
    .menu {
        width: 66.66666%;
    }
    .header-cart {
        width: 16.666666%;
        display: flex;
        flex-wrap: wrap
    }
    .header-logo a {
        display: flex;
        justify-content: center;
    }
    .header-logo img {
        width: 50%;
        vertical-align: top;
    }
}
@media screen and (max-width:1024px){
    .header-container {
        width: 100%;
        justify-content: space-around;
    }
    /* .header-logo img {
        width: 100%;
        vertical-align: top;
    } */
    .header-logo {
        width: 16.66666%;
    }
    .menu {
        width: 66.66666%;
    }
    .header-cart {
        width: 16.666666%;
        display: flex;
        flex-wrap: wrap
    }
}
@media screen and (max-width:768px){
    /* .header {
        height: 100px;
    } */
    .hb {
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: relative;
        margin: 15px 30px;
    }
    .header-logo {
        width: 30%;
    }
    .header-logo img {
        width: 60%;
        vertical-align: top;
    }
    .header-container {
        width: 100%;
        justify-content: space-between;
    }
    .hb span {
        width: 32px;
        height: 2px;
        background-color: #3a3a3a;
        opacity: 1;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(0);
      }
   
    .menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: -100%;
        top: 100%;
        opacity: 0;
        transform: opacity 1s 0s,
                   left 1s 1s;
    }
    .hb span:nth-child(1){
        top: 7px;
    }
    .hb span:nth-child(2){
        top: 19px;
    }
    .hb span:nth-child(3){
        top: 31px;
    }
    #menu-switch:checked + .header .hb span:nth-child(1){
        animation: no1 1s 1s forwards;
    }
    #menu-switch:checked + .header .hb span:nth-child(2){
        animation: no2 1s 0s forwards;
    }
    #menu-switch:checked + .header .hb span:nth-child(3){
        animation: no3 1s 1s forwards;
    }
    #menu-switch:checked + .header .menu {/*不是任何東西都可以被check*/
        /* display: block; */
        left: 0;
        opacity: 1;
        transition: opacity 1s 2s;
    }
    @keyframes no1 {
        0%{ top: 7px; transform: rotate(0deg);}
        50%{ top: 19px; transform: rotate(0deg);}
        100%{ top: 19px; transform: rotate(45deg);}
    }
    @keyframes no2 {
        0%{ opacity: 1;}
        100%{ opacity: 0;}
    }
    @keyframes no3 {
        0%{ top: 31px; transform: rotate(0deg);}
        50%{ top: 19px; transform: rotate(0deg);}
        100%{ top: 19px; transform: rotate(-45deg);}
    }
    .navbar {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .navbar > a,.navbar > button {
        display: block;
    }
    .navbar > a {
        text-align: left;
    }
    .header-cart {
        justify-content: flex-end;
        display: none;
    }
    .header-cart img {
        margin: 10px;
    }
}


/*=========================footer RWD====================*/
@media screen and (max-width:1200px){
    .main-footer {
        width: 100%;
    }
    .footer-logo {
        width: 25%;
        display: flex;
        justify-content: center;
    }
    .footer-container {
        width: 75%;
        display: flex;
    }
    .footer-item {
        width: 19.7131905895%;
        padding: 20px 0;
    }
}
@media screen and (max-width:1024px){
   /*  */
    .main-footer {
        display: flex;
        justify-content: center;
    }
    .footer-logo {
        width: 40%;
        margin-top: 20px;
    }
    .footer-item {
        width: 17.9153382926%;   
    }
}
@media screen and (max-width:768px){
    
    .footer-logo {
        width: 100%;
        margin-top: 20px;
    }
    .footer-logo img {
        width: 30%;
        vertical-align: bottom;
    }
    .footer-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-item {
        width: 35%;
    }
    .copyright {
        padding: 10px 0;
    }
}
/*=========================support-banner RWD====================*/
@media screen and (max-width:1200px){
    .support.banner {
        width: 100vw;
        background-color: #08080A;
    }
    .support-wrapper {
        width: 100%;
    }
    .support-banner-pic {
        width: 57.1428571429%;
    }
    .support-banner-title {
        width: 42.8571428571%;
    }
}
@media screen and (max-width:1024px){
    .support-banner-pic {
        width: 100%;
    }
    .support-banner-pic {
        opacity: 0.3;
    }
    .support-wrapper {
        position: relative;
    }
    .support-banner-title {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        /* margin: 0 auto; */
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
@media screen and (max-width:768px){
    .support-banner-title h1 {
        font-size: 32px;
    }
}
/*=============support=============*/
@media screen and (max-width:1200px){
    .support-container,.support-container h2 {
        width: 100%;
    }
    .support-container {
        justify-content: center;
    }
    .support-container h2 {
        padding: 10px;
    }
    .support-card {
        width: 21.0369782889%;
    }
    
}
@media screen and (max-width:1024px){
    .support-card {
        width: 44.6865037194%;
    }
    .support-card-pic img {
        margin: 20px;
    }
}
@media screen and (max-width:768px){
    .support-card {
        width: 100%;
    }
    .support-card-pic img {
        width: 15%;
    }
}

/*=============about====================*/
@media screen and (max-width:1200px){
    .about {
        width: 100%;
    }
    .about-story {
        width: 100%;
    }
    .about-banner {
        width: 100%;
    }
    .about-wrapper {
        width: 100%;
        position: relative;
        background-color: #08080A;
    }
    .about-banner-center {
        width: 50%;
    }
    /*===============*/
    .about-story-center {
        display: flex;
        width: 50%;
    }
    .about-story-pic,.about-story-txt {
        width: 100%;
    }
    .about-story-txt h3 {
        margin: 30px 20px;
    }
    /*=========*/
    .about-special,.about-story-container  {
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    .about-story-txt h3 {
        font-size: 24px;
    }
    .about-story-pic-logo {
        padding: 10px;
    }
    .about-banner-pic {
        width: 100%;
    }
    .about-banner-pic img {
        opacity: 0.3;
    }
    .about-banner-center {
        position: absolute;
        display: flex;
        justify-content: center;
        /* width: 100%; */
        text-align: center  ;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .about-banner-txt h1, .about-banner-txt h2 {
        margin: 10px 20px;
    }
    /*============about內容=======*/
    .about-special {
        /* padding: 10px; */
        display: block;
    }
    .about-story-container {
        /* margin: 10px; */
        width:  97.5260416667%;
        margin: 10px auto;
    }
    .about-story-center {
        width: 100%;
    }
    .about-story {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:768px){
    .about-banner-txt h1 {
        font-size: 24px;
    }
    .about-banner-txt h2 {
        font-size: 18px;
    }
    .about-story-container {
        width:  94.6666666667%;
    }
    .about-banner-txt h1, .about-banner-txt h2 {
        margin: 10px;
    }
}

/*=============BLOG RWD=================*/
/*----------banner-----------*/
@media screen and (max-width:1200px){
    .period-wrap {
        width: 50%;
        margin: 0 10px;
    }
    .sel {
        width: 50%;
    }
    .sel__placeholder {
        font-size: 18px;
    }
    .sel__box__options {
        font-size: 14px;
    }
}
@media screen and (max-width:1024px){
    .blog-content {
        width: 100%;
    }
    .blog-banner-pic  {
        background-color: #08080A;
    }
    .blog-banner-pic img {
        opacity: 0.3;
    }
    .blog-banner-title {
        display: flex;
        justify-content: center;
        left: 0;
    }
    .blog-wrap {
        padding: 0;
    }
    .sel {
        width: 60%;
    }
}
@media screen and (max-width:768px){
    .blog-banner-title h1 {
        font-size: 24px;
    }
}
/*--------------blog-card----------*/
@media screen and (max-width:1200px){
    .blog-container {
        width: 100%;
        justify-content: center;
    }
    .blog-item {
        width: 90%;
    }
    .blog-card {
        margin: 10px 0;
    }
}
@media screen and (max-width:1024px){
    .blog-card {
        margin: 10px 0;
    }
}
@media screen and (max-width:768px){

}
/*==============App=====================*/
@media screen and (max-width:1200px){
    .appfunction,.app-wrap {
        width: 100%;
    }
    .app-item {
        width: 25%;
    }

/*--------app-1------*/
    .app-1 {
        width: 100%;
    }
    .app-container {
        width: 100%;
        justify-content: center;
    }
    .app-plan-route {
        width: 48.0487804878%;
    }
}   
@media screen and (max-width:1024px){
    .app-item {
        width: 50%;
        margin: 0 auto 100px;
        
    }
    .app-wrap {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .app-plan-route {
        width: 46%;
    }
    .banner-app-txt {
        align-items: center;
    }
}
@media screen and (max-width:768px){
    .banner-app-txt,.banner-app-pic {
        width: 100%;
    }
    .app-wrap {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .app-item {
        /* width: 80%; */
        margin: 0 auto 100px;
        
    }
    .app-plan-route {
        width: 100%;
        margin: 20px;
    }
}
/*=========key unlock=======*/
@media screen and (max-width:1200px){
    .app-lock {
        width: 50%;
    }
    #lock-video {
        margin: 10px;
    }
    .app-unlock-phone {
        left: -30px;
    }
}
@media screen and (max-width:1024px){
    .app-lock {
        width: 100%;
    }
    #lock-video {
        margin: 50px 10px 50px 50px;
    }
    .app-unlock-phone {
        width: 20%;
        top: 230px;
        left: -10px;
    }
    .banner-container {
        /* margin: auto; */
        align-items: center;
    }
    .banner-app-pic,.banner-app-txt {
        text-align: center;
        /* margin:  0 auto; */
    }
}
@media screen and (max-width:768px){

}
/*=========track=======*/
@media screen and (max-width:1200px){
    .app-track {
        width: 49%;
    }
}
@media screen and (max-width:1024px){
    .app-track img {
        width: 90%;
    }
    .app-track .float {
        left: 23%;
    }
}   
@media screen and (max-width:768px){

}

/*=========achievement=========*/
@media screen and (max-width:1200px){
    .app-achieve-txt {
        width: 100%;
    }
    .app-achieve {
        width: 50%;
    }
}
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){
    .app-achieve {
        width: 100%;
    }
    .app-achieve-pic {
        margin: 20px;
    }
}
/*==============ebike==============*/
@media screen and (max-width:1200px){
    .pick-product {
        width: 100%;
    }
    .brand-filter {
        width: 25%;
    }
    .ebike-product {
        width: 75%;
    }
    .product-card {
        width: 42%;
    }
}
@media screen and (max-width:1024px){
    .brand-filter {
        width: 30%;
    }
    .ebike-product {
        width: 70%;
    }
    .product-card {
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .brand-filter {
        width: 100%;
    }
    .ebike-product {
        width: 100%;
    }
}
/*===========ebike purchase============*/
@media screen and (max-width:1200px){
    .product-wrap,.product-explore,.product-wrap {
        width: 100%;
        display: flex;
    }
    .product-photo {
        width: 45%;
        margin: 10px;
    }
    .product-detail {
        width: 50%;
    }
    .product-photo-side {
        margin: 10px;
    }
}
@media screen and (max-width:1024px){
    .product-photo {
        width: 90%;
        margin: 10px auto;
    }
    .product-detail {
        width: 90%;
        margin: 10px auto;
    }
    .explore-pic {
        margin-top: 30px;
    }
}
@media screen and (max-width:768px){
    .product-explore h1 {
        font-size: 24px;
    }
    .product-explore {
        justify-content: space-between;
    }
}

/*===========ebike purchase-descirbe============*/
@media screen and (max-width:1200px){
    .description1 {
        width: 100%;
        /* margin: auto; */
    }
    .description1-pic,.description1-txt,.description1-txt {
        width: 42%;
    }
    .description1-pic {
        display: flex;
        justify-content: center;
    }
    
    
}
@media screen and (max-width:1024px){
    .description1 {
        width: 82%;
    }
    .description2 {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .description .description1:nth-child(2n){
        justify-content: center;
        margin: 20px auto;
    }
}
@media screen and (max-width:768px){
    .description1 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .description1-txt {
        width: 90%;
    }
    .description1-pic img {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .description1-txt h2 {
        font-size: 24px;
        font-size: 500;
    }
    .description1-txt p {
        font-size: 14px;
    }
}
/*=========product-Specifications========*/
@media screen and (max-width:1200px){
    .product-specify,.product-specification  {
        width: 100%;
    }
    .specification-main,.specification-sub {
        width: 45%;
    }
    .product-wrap h2 {
        margin-left: 4%
    }
    .specification-main h3 {
        margin-left: 10%;
    }
    .content-hr {
        width: 90%;
        margin: 10px auto;
    }
}
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){
    .specification-main h3 {
        font-size: 20px;
        font-weight: 500;
    }
}


/*============Homepage=======*/
@media screen and (max-width:1200px){
    .video-section {
        height: 100%;
    }
    .homepage-section,.homepage-wrap {
        width: 100%;
    }
    .product-pop {
        width: 90%;
        margin: 10px auto;
        height: 400px;
    }
    .product-sub {
        width: 28%;
        margin: 20px auto;
    }
    .product-pop .product-pop-txt,.product-pop .product-pop-pic {
        width: 50%;
    }

    /*=============hp-app=======*/
    .app-section {
        height: 1200px;
    }
    .app-content {
        width: 100%;
    }
    .hp-app {
        width: 90%;
    }
    /*=============hp-support=======*/
    .home-support-wrap {
        width: 90%;
    }
    .home-support-card {
        width: 30%;
        margin: 10px auto;
    }
}
@media screen and (max-width:1024px){
    .slogan h1 {
        font-size: 32px;
    }
    .product-sub {
        width: 45%;
        /* margin: 20px auto; */
    }
    /*=============hp-app=======*/


    /*=============hp-support=======*/
    .home-support-card {
        width: 45%;
    }
}
@media screen and (max-width:768px){
    .product-sub {
        width: 88%;
    }
    .video {
        /* overflow: hidden; */
        padding-top: 70px;
        height: 100%;
    }
    .product-pop {
        flex-direction: column;
        /* justify-content: flex-end; */
        height: 500px;
    }
    .product-pop .product-pop-pic {
        width: 100%;
    }
    .product-pop .product-pop-txt {
        width: 100%;
        justify-content: flex-end;
        margin: 0 auto 20px; 
    }
    .homepage-wrap .product-pop:nth-child(2n) {
        flex-direction: column;
    }
    /*=============hp-app=======*/
    .app-section {
        height: 900px;
    }

    /*=============hp-support=======*/
    .home-support-card {
        width: 90%;
    }

    
}